<!DOCTYPE html>
<html>
  <head>
    <title>Lab 04</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Les membres de mon equipe sont; Marc-Antoine Beland</p>
  </body>
</html>
